:root {
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --text-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка-header */
.header {
  position: absolute;
  width: 100%;
}

.header::after {
  content: '';
  position: absolute;
  top: 81px;
  left: 0;

  display: block;
  height: 1px;
  width: 100%;
  background: #c4c4c4;
  border: 1px solid #d9d9de;
  opacity: 0.3;
}

.header-blok {
  display: flex;
  align-items: center;

  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 20px;
}

.header-logo {
  display: flex;

  font-family: PT Serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}

.header-description {
  margin-left: 20px;
}

.header-accent {
  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.header-list {
  display: flex;
  margin-left: 179px;
}

.header-item:not(:last-child) {
  margin-right: 33px;
}

.header-contacts {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}

.header-icon {
  margin-right: 13px;
}

.header-button {
  margin-left: auto;
  padding: 12px 26px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
  color: var(--secondary-text-color);
}

.header-navigation {
  display: flex;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

/* Герой. Путешествия по Байкалу */
.hero {
  background-image: url(../images/overlay-hero.jpg);
  padding-top: 226px;
  padding-bottom: 33px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 8px;

  max-width: 724px;
  font-family: PT Serif, serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}

.hero-text {
  margin-bottom: 94px;

  max-width: 450px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--secondary-text-color);
}

.hero-link {
  display: inline-block;
  padding: 20px 53px;
  margin-bottom: 184px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  margin: 0 auto;
}

/* Категории туров */
.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.categories-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-bottom: -32px;
}

.categories-item {
  width: 256px;
  margin-left: 32px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;
  border-radius: 6px;
  overflow: hidden;
}

.categories-subtitle {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 19px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

/* Футер */
.footer {
  color: var(--secondary-text-color);
  background-color: #202020;
}

.footer-top {
  display: flex;
  padding: 39px 0px 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-block {
  margin-right: 76px;
}

.footer-block:last-child {
  margin-right: auto;
}

.footer-name {
  margin-bottom: 17px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-item > a {
  display: inline-block;

  color: rgba(255, 255, 255, 0.8);
}

/* Футер нижняя часть */
.footer-bottom {
  display: flex;
  padding-top: 32px;
  padding-bottom: 45px;
}

.address {
  display: flex;
}

.address-item:not(:last-child) {
  margin-right: 62px;
}

.tour {
  margin-right: 64px;
}

.tour-title {
  margin-bottom: 7px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}

.under {
  max-width: 219px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}

.contact-list.under,
.address-item .under {
  line-height: 1.5;
}

.contact-item > a {
  color: rgba(255, 255, 255, 0.8);
}

.vector {
  margin-left: auto;

  font-weight: 400;
  line-height: 1.3;
}

.vector-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.design {
  margin-right: 14px;

  font-size: 12px;
  color: var(--secondary-text-color);
  opacity: 0.5;
}

.vector-title {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 14px;
  color: var(--secondary-text-color);
  text-decoration-line: underline;
}
